<!DOCTYPE html>

{# see:
https://webmozart.io/blog/2015/09/24/best-practices-form-theming/ #}

<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Hello from
                {{city_name}}
            {% endblock %}
        </title>
        {% block stylesheets %}
            {# bootstrap
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            {# custom #}
            {# <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">  #}
        {% endblock %}
    </head>
    <body>
        <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px / 1.5 sans-serif;
        }
        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>
        <div class="example-wrapper">

        {% block body %}
            <h1>Video Form with blocs</h1>
        {% endblock %}

        {# {% form_theme form1 'form_table_layout.html.twig' %} #}
        {# {% form_theme form1 'foundation_5_layout.html.twig' %} #}
        {% form_theme form1 'form_div_layout.html.twig' %}
        
        {{ form_start (form1)}}
        {{ form_widget (form1) }}
        {{ form_end (form1)}}

        <h1>Video Form single text</h1>
        {{ form(form2) }}
    </div>



        {% block javascripts %}{% endblock %}
    </body>
</html>

